<h4 class="page-title">Outbox Messages</h4>
<table id="outbox-table" class="table table-hover">
    <thead>
        <th class="mobile-number">Mobile Number</th>
        <th class="user">Created by</th>
        <th class="message">Message</th>
        <th class="timestamp">Sent</th>
        <th class="actions"></th>
    </thead>
    <tbody>
        <% if @outboxes.empty? %>
            <tr><td>No Messages</td></tr>
        <% else %>
            <% @outboxes.each do |outbox| %>
                <% if not outbox.message_type == 'REPLY' %>
                    </tr>
                        <td><%= outbox.mobile_number %></td>
                        <td><%= outbox.user.email if outbox.user.present? %></td>
                        <td><%= outbox.message %></td>
                        <td><%= outbox.created_at %></td>
                        <td>
                            <div class="btn-group message-actions" role="group">
                                <%= link_to "View", outbox_path(outbox), class: 'btn btn-default' %>
                                <%= link_to "Resend", resend_outbox_path(outbox), class: 'btn btn-default' %>
                            </div>
                        </td>
                    </tr>
                <% end %>
            <% end %>
        <% end %>
    </tbody>
</table>