<h1>Outbox</h1>
<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Created by</th>
        <th>Mobile Number</th>
        <th>Message</th>
        <th>Sent</th>
    </thead>
    <tbody>
        <% if @outboxes.empty? %>
            <tr><td>No Messages</td></tr>
        <% else %>
            <% @outboxes.each do |outbox| %>
                </tr>
                    <td><%= outbox.id %></td>
                    <td><%= outbox.user.email if outbox.user.present? %></td>
                    <td><%= outbox.mobile_number %></td>
                    <td><%= outbox.message %></td>
                    <td><%= outbox.created_at %></td>
                    <td>
                        <%= link_to "View Message", outbox_path(outbox.id) %>
                    </td>
                    <td>
                        <%= link_to "Resend Message", edit_outbox_path(outbox.id) %>
                    </td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>