<!DOCTYPE html>
<html>
  <head>
    <title>SMS on Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/inbox">Inbox <% if user_signed_in? then %><span class="badge"><%= Inbox.count %></span><% end %></a></li>
            <li><a href="/outbox">Outbox <% if user_signed_in? then %><span class="badge"><%= Outbox.count %></span><% end %></a></li>
          </ul>
           <p class="navbar-text pull-right">
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
              <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
            <% else %>
              <%= link_to "Register", new_user_registration_path %> | 
              <%= link_to "Login", new_user_session_path %>
            <% end %>
          </p>
          <a type="button" href="/outbox/new" class="btn btn-primary navbar-btn pull-right btn-new-message">New Message</a>
         
        </div>
      </nav>
    </div>
    <div class="container">
      <% if notice %>
			  <p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
			  <p class="alert alert-danger"><%= alert %></p>
			<% end %>

      <%= yield %>
    </div>
  </body>
</html>
